.header-tabs {
  width:100%;

}

.body-page {
  background-color: bisque;
  height:650px;
}

img {
  display:block;
  width:50%;
  margin-left: auto;
  margin-right: auto;

}

.form-page {
  display: block;
  width: 200px;
}

.form-page input{
  width: 200px;
  margin-top: 20px;
  margin-left: 10px;
}

.message-input {
  margin-top: 50px;
  padding: 50px;
}

.column {
  float:left;
  width:50%;
}

footer {
  position: fixed;
  right:45%;
  bottom:0;
  height:50px
}

.footer img{
  height: 50px;
  width: 100px;
 object-fit: contain;
 mix-blend-mode:color-burn;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
