.header-tabs {
  width:100%;

}

.about-page img{
  float: left;
  border-radius: 50%;
  height:100px;
  width:100px;
  padding: 10px;
}

.body-page {
  background-color: bisque;
  height:650px;
}

.portfolio {
  position: relative;
  margin-left: 20px;
  border: none;
  object-fit: contain;
}

.portfolio img {
  padding:20px;
  width:100px;
  height: 100px;
  margin-left: 20%;
  object-fit: cover;
}

.portfolio img:hover {
  opacity: .5px;
}

.form-page {
  display: block;
  width: 50%;
}

.form-page input{
  width:100%;
  margin-top: 20px;
  margin-left: 10px;
}

.message-input {
  margin-top: 50px;
  padding:0 0 100px 0
}

.message-input:focus {
  background-color: rgb(235, 233, 233);
}

.column {
  float:left;
  width:50%;
}

footer {
  position: fixed;
  right:45%;
  bottom:0;
  height:50px
}

.footer img{
  height: 50px;
  width: 100px;
 object-fit: contain;
 mix-blend-mode:color-burn;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
